// .header__search__searchicon{
//     height: 3rem;
//     width: 20%;
//     display: inline-block;
//     text-align: center;
//     position: absolute;
// }

.header__search__searchicon{
    line-height: 6vh;
    position: relative;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 15%;
}