@import "../utility/variables";

// .header__search__searchbox{
//     width: 80%;
//     height: 3rem;
//     border: solid 1px $gray;
//     border-radius: 5px;
//     background-color: white;
//     position: relative;
// }

.header__search__searchbox{
    width: 75%;
    padding-left: 2%;
    height: 6vh;
    background-color: #fff;
    border-top: solid 1px $gray;
    border-bottom: solid 1px $gray;
    border-right: solid 1px $gray;
    border-radius: 0 5px 5px 0;
}