@import "../utility/variables";

// .header__logo{
//     width: 100%;
//     text-align: center;
//     font-size: 40px;
//     color: $gray;
//     padding-top: 4vh;
// }

.header__l{
    @include pc{
        width: 35%;
    };
    @include tab{
        width: 100%;
    };
    >h1{
        @include pc{
            height: 12vh;
            font-size: 64px;
            margin: 0;
            line-height: 12vh;
            color: $gray;
        }
        @include tab{
            height: 6vh;
            width: 300px;
            font-size: 40px;
            text-align: center;
            color: $gray;
            margin: 0 auto;
            line-height: 6vh;
        }
    }
}