// .header__search__searchicon{
//     height: 3rem;
//     width: 20%;
//     display: inline-block;
//     text-align: center;
//     position: absolute;
// }

.header__search__searchicon{
    background-color: #fff;
    width: 15%;
    height: 6vh;
    border-top: solid 1px $gray;
    border-bottom: solid 1px $gray;
    border-left: solid 1px $gray;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}