.main__goods__cards__card >div{
    @include pc{
        width: 45%;
        height: 100%;
    };
    @include tab{
        width: 45%;
        height: 100%;
    };
    @include sp{
        width: 90%;
        height: 55%;
    };
    margin: 0 auto;
    >h3{
        font-size: 20px;
        font-weight: 400;
        color: white;
        font-family: $font_m;
        @include tab{
            padding: calc((30% - 30px) / 2) 0;
        };
        @include sp{
            padding: calc((6vh - 30px) / 2) 0;
        };
    }
    >h4{
        font-size: 16px;
        font-weight: 400;
        color: white;
        font-family: $font_m;
        @include tab{
            padding: calc((12.5% - 30px) / 2) 0;
        };
        @include sp{
            padding: calc((4vh - 24px) / 2) 0;
        };
    }
    >p{
        font-size: 16px;
        font-weight: 400;
        color: white;
        font-family: $font_m;
        @include tab{
            padding: 0 0 calc((25% - 30px) / 2) 0;
        };
        @include sp{
            padding: calc((11vh - 96px) / 2) 0;
        };
    }
    >button{
        width: 50%;
        background-color: white;
        color: #707070;
        padding: 6px;
        border-radius: 3vh;
        position: relative;
        top: 6vh;
        transform: translateY(-50%);
        display: block;
        margin: 0 auto;
    }
}