.main__eatstyle__headline{
    // font-family: $font_r;
    height: calc(12vh - 6px);
    font-weight: 700;
    font-size: 36px;
    color: white;
    padding:3vh 16px 0 16px;
    +div{
        @include pc{
            width: 80px;
        };
        @include tab{
            width: 50px;
        };
        @include sp{
            width: 50px;
        };
        height: 2px;
        border-top: white solid 6px;
        margin-left:16px;
    }
}