.main__gimmicks__lists__unordered{
    color:#3C2A10;
    margin-bottom: 3vh;
    >ul{
        list-style: none;
        padding-left: 4%;
        padding-bottom: 1.5vh;
    }
    >.list2{
        padding-left:14%;
    }
}