.main__manyimages__disc__wrapper{
    width: 100%;
    .main__manyimages__disc__topimg{
        >img{
            width: 100%;
            height: 60%;
            display: inline-block;
            width: 100%;
            object-fit: cover;
        }
    }
}



