.main__gimmicks__table__items{
    width: 100%;
    border-collapse: collapse;
}

.main__gimmicks__table__items th{
    width: 40%;
    padding: 3vh 5%;
    border: 1px solid #3C2A10;
    text-align: left;
    font-weight: 400;
}

.main__gimmicks__table__items td{
    width: 60%;
    padding: 3vh 5%;
    border: 1px solid #3C2A10;
}

