.main__eatstyle__description{
    width: 90%;
    @include pc{
        height: calc(78vh * 0.5);
        margin-top: calc(78vh * 0.5);
    };
    @include tab{
        height: calc(68vh * 0.7);
        margin-top: calc(68vh * 0.3);
    };
    @include sp{
        height: calc(68vh * 0.7);
        margin-top: calc(68vh * 0.3);
    };
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    > div{
        background-color: rgba($color: #fff, $alpha: 0.8);

        >h3{
            font-family: $font_m;
            font-size: 22px;
            font-weight: 400;
            padding:8px 0 16px 4px;
        }

        >p{
                font-family: $font_m;
                font-size: 16px;
                font-weight: 400;
                padding:8px 0 16px 4px;
        }
    }
}