.main__manyimages__disc__midimg2{
    display: flex;
    margin-bottom: 3vh;
    div{
        width: 43%;
        height: 100%;
        padding-left: 2%;
        text-align: right;
        img{
            max-width: 100%;
        }
    }
    p{
        width: 60%;
        height: 100%;
        font-size: 16px;
        color: #3C2A10;
        font-weight: 400;
    }
}