.main__gimmicks__lists__ordered{
    color: #3C2A10;
    margin-bottom: 5vh;
    >ol{
        padding-left: 10%;
        list-style: decimal;
        padding-bottom: 1.5vh;
    }
    >.list2{
        padding-left: 20%;
    }
}