.main__access__headline{
    font-family: $font-m;
    font-size: 30px;
    font-weight: 400;
    color: white;
    padding: 2vh 0;
    @include pc{
        width: 90%;
        margin: 0 auto;
    }
    @include tab{
        width: 70%;
        margin: 0 auto;
    }
    @include sp{
        width: 70%;
        margin: 0 auto;
    }
    position: relative;
    z-index: 2;
    +div{
        width: 80px;
        border-top: white solid 3px;
        position: absolute;
        @include pc{
            left: 5%;
        }
        @include tab{
            left:15%;
        }
        @include sp{
            left:15%;
        }
        // height: 5vh;
        margin-bottom: 5vh;
        z-index: 2;
        color: white;
    }
}