aside{
    @include pc{
        width: 20%;
    };
    @include tab{
        width: 100%;
    };
    @include sp{
        width: 100%;
    };
    background-color: rgba($color: #000000, $alpha: 0.7);
    position: absolute;
    @include pc{
        height: 205vh;
        top:0;
        left: 80%;
    };
    @include tab{
        height: 227vh;
        top: 0;
        left: 100%;
    };
    @include sp{
        height: 350vh;
        top:0;
        left: 100%;
    };
    z-index: 3;
    transition: ease-in-out 0.3s;
    &.is-open{
        left:0;
    }
    // visibility: hidden;
    >nav{
        @include pc{
            width: 100%;
            height: 205vh;
        };
        @include tab{
            width: 90%;
        };
        @include sp{
            width: 90%;
        };
        padding-top: 20vh;
        background-color: #F2EDE9;
        position: absolute;
        top: 0;
        right: 0;
        height: 200vh;
    }
}