html{
    height: 100%;
}

body{
    height: 100%;
}

.wrapper{
    position: relative;
    overflow-x: hidden;
    min-height: 100%;
    // @include pc{
    //     height: 355vh;
    // };
    // @include tab{
    //     height: 228vh;
    // };
    // @include sp{
    //     height: 350vh;
    // };
}

// main{
//     @include pc{
//         height: 180vh;
//     };
//     @include tab{
//         height: 183vh;
//     };
//     @include sp{
//         height: 305vh;
//     };
// }