@import "../utility/variables";
.header__s{
    @include pc{
        width: 40%;
    };
    @include tab{
        width: 100%;
    }
    
}
.header__search{
    @include pc{
        width: 100%;
        margin: 0;
    }
    @include tab{
        width: 80%;
        margin: 0 auto;
    }
    height: 6vh;
    display: flex;
}