.main__eatstyle{
    width: 100%;
    height: 170vh;
    justify-content: space-around;
    background-color: white;
    display: flex;
    @include pc{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    };
    @include tab{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    };
    @include sp{
        flex-direction: column;
        align-items: center;
    };
}