.main__eatstyle__takeout{
    @include pc{
        width: 45%;
        height: 90vh;
    };
    @include tab{
        width: 45%;
        height: 80vh;
    };
    @include sp{
        width: 90%;
        height: 80vh;
    };
    background-image: url(../images/three-burgers-on-brown-wooden-tray-between-white-ceramic-1841108.png);
    background-size: cover;
    position: relative;
}