.main__access{
    @include pc{
        width: 80%;
        height: 50vh;
    };
    @include tab{
        width: 100%;
        height: 63vh;
    }
    @include sp{
        width: 100%;
        height: 105vh;
    }
    >div{
        padding-top:4vh;
        position: relative;
        height: 100%;
    }
}