.main__eatstyle__takeout{
    width: 90%;
    height: 80vh;
    background-image: url(../images/three-burgers-on-brown-wooden-tray-between-white-ceramic-1841108.png);
    background-size: 100% auto;
    position: relative;
}